.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.875rem 1.0625rem 0.8125rem;
  background-color: $white;
  box-shadow: 0 0.125rem 0.25rem 0 hsl(0deg 0% 0% / 15%);
  box-sizing: border-box;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    .back {
      position: absolute;
      z-index: 1;
      left: 0;
    }
  }
}
