/**
 * Basic typography style
 */

.section-title {
  font-size: $title-2-font-size;
  font-weight: 700;
}

.restaurant-title {
  font-size: $title-1-font-size;
  font-family: $brand-font;
}

.menu-section-title {
  font-weight: 300;
  text-transform: uppercase;

  &::after {
    content: " ";
    display: block;
    background-color: $green;
    height: 0.1875rem;
    width: 2.5rem;
  }
}
